<p id="notice"><%= notice %></p>

<h1 id="responsive_headline" class="title_font">Latest Posts</h1>
<hr>

<% @posts.each do |post| %>
  <h2 class="content_font"> <%= link_to post.title, post, {class: 'content_font', style: "font-size: 5vw;  font-family: 'Medium';"} %> </h2>
<%end%>
<div class="row">
<!-- <span class="glyphicon glyphicon glyphicon-chevron-right content_font"></span><%= link_to 'New Post', new_post_path, {class: "title_font", style: "float: right;font-size: 3vw;"}%> -->

</div>
<script>
jQuery("#responsive_headline").fitText(.6);
</script>
