<p id="notice"><%= notice %></p>

<h1 class="title_font">Latest Posts</h1>
<hr>

<% @posts.each do |post| %>
<h2 class="content_font"> <%= link_to post.title, post %> </h2>

<%end%>
<div class="row">
<span class="glyphicon glyphicon glyphicon-chevron-right content_font"></span><%= link_to 'New Post', new_post_path, {class: "content_font", style: "float: right;"}%>

</div>
