<p id="notice"><%= notice %></p>

<h1 class="title_font">
  <%= @post.title %>
</h1>
<hr>
  <%= ('<div class="post" style="font-family: Content;">'+markdown(@post.content)+  '</div>').html_safe %>
<span style="float: left;"class="glyphicon glyphicon glyphicon-chevron-left content_font"></span><%= link_to 'Back', posts_path, {class: "content_font"} %>
