



<p id="notice"><%= notice %></p>

<h1 id="responsive_headline" class="title_font">
  <%= @post.title %>
</h1>

<progress value="0" id="progressBar">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>
<hr>
<article>

  <%= ('<div class="post" style="font-family: Content;">'+markdown(@post.content)+  '</div>').html_safe %>
</article>
<!-- <span style="float: left;"class="glyphicon glyphicon glyphicon-chevron-left content_font"></span><%= link_to 'Back', posts_path, {class: "title_font", style: "float: left;font-size: 3vw;"} %> -->

<script>
jQuery("#responsive_headline").fitText(.6);
</script>
