/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
pre  {
  font-size: 1.4em;

  font-family: monospace !important;
}
pre * {
  font-family: monospace !important;

}
@font-face {
  font-family: 'Blog';
  src:font-url("amsterdamtangram.regular.ttf");

}
.glyphicon {
  margin: auto;
  margin-top: .3em;
  display: inline-block !important;
  font-family: 'Content' !important;
  float: right;
  color: #456280;


}
#nav_column {
  height: 100vw;
}
.fonty_text
{
  font-family: 'Blog';
  font-size: 10vw;
}

@font-face {
  font-family: 'Title';
  src:font-url("Semplicita_Bold.otf");

}
.title_font
{
  color: #456280;

  font-size: 9vw;
  font-family: 'Title';
}
@font-face {
  font-family: 'Content';
  src:font-url("Semplicita_Light.otf");
}
@font-face {
  font-family: 'Medium';
  src:font-url("Semplicita_Medium.otf");
}
.content_font
{
  font-family: 'Content';
  font-size: 2.2vw;

}
.post *
{
  color: #41506F;

  font-family: 'Content';
}
.post p
{
  font-size: 2em;
  line-height: 1.6em;
  font-family: 'Content';
}
.post h2
{
  font-family: 'Medium';
  font-size: 3em;

}
.post h1
{
  font-family: 'Medium';
  font-size: 4em;
}
.post * li
{
  font-size: 2.5em;
  line-height: 1.3em;

}
.post_font
{
  font-family: 'Content';
  font-size: 4vw;
  line-height: 4.5vw;

}
.content_font:before
{
  font-family: 'Glyphicons Halflings' !important;
}
a{
  color: #6A4E65;
  transition: color 2s;


}
a:visited{
  color: #BC546D;

}
a:hover{
  background-color: white;
  color: #F54E62;


}
@media only screen and (min-width: 501px) {
    .col-xs-12 {
         display: none;
     }
 }
 .navbar{
   display: none;

 }


 @media only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2)
      {
  /*use CSS to swap out your low res images with high res ones here*/
  .navbar{
    display: block;

  }
  .content_font
  {
    font-size: 60px;
    font-family: 'Content';
  }
  .post_font{
    font-size: 8.5vw;
    line-height: 9.5vw;
  }
  .col-xs-3 {
       display: none;
   }
   .col-xs-9 {
        display: none;
    }
    .col-xs-12 {
         display: block;
     }
 }
 progress {
   /* Positioning */
   position: fixed;
   left: 0;
   top: 0;

   /* Dimensions */
   width: 100%;
   height: 5px;

   /* Reset the appearance */
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;

   /* Get rid of the default border in Firefox/Opera. */
   border: none;

   /* Progress bar container for Firefox/IE10+ */
   background-color: transparent;

   /* Progress bar value for IE10+ */
   color: red;
 }
 progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

*, *::after, *::before {
  box-sizing: border-box;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: red;
}

.flat::-moz-progress-bar {
  background-color: red;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, red);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, green, red);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, green, red);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}
